<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>儿童英语水平基准测试</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/index.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">
            <!--
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">TEST</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">联系我们</a></li>
                        </ul>
                    </nav>
                </div>
            </div>-->

            <div class="inner cover">
                <h2 class="cover-heading">儿童英语词汇测试游戏</h2>
                <br>
                <p class="lead">看看您家孩子的英语词汇水平<br>相当于几岁以英语为母语的儿童</p>
                <p class="lead">（建议3-7岁幼儿参与游戏，<br>并由家长辅助孩子进行答题操作）</p>
                <br>
                <p class="lead">
                    <a href="/info_kid" class="btn btn-lg btn-default">开始测试</a>
                </p>
                <br>
                <p align="left" style="font-size: 10px;">评测标准根据WordBank语料库资料制定。<br>Wordbank是由来自Stanford、MIT和芝加哥大学的研究者<br>合作建立的儿童语言发展数据库，<br>汇集了多个国家、多个年龄段的儿童<br>在M-CDI语言发展量表上的得分情况。<br>整个测试约需10-20分钟。<br>注：测试结果仅供参考，<br>所有数据仅用于研究，<br>不会收集任何您的身份信息。
                </p>
            </div>

            <div class="mastfoot">
                <div>
                    <p style="text-align: center;">Powered by <a href="http://www.thuir.cn/">THUIR</a></p>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="static/vendor/jquery/jquery-1.11.3.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
