<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Part 1 初步信息填写</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="static/vendor/iCheck/skins/flat/red.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/info.css" rel="stylesheet">
    <style>
        .li_label {
            width: 85%;
        }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="inner cover" style="padding-top: 30px;">
                <h3 align="center">Part 1 信息填写</h3>
                <h4 align="center">以下3道题请家长回答。</h4>
                <br>
                <form class="form-horizontal" id="information" method="post" action="/begin">
                    <div class="form-group" id="info">
                        <label class="control-label col-xs-6" style="text-align: right;font-size: 18px;">孩子年龄：</label>
                        <div class="form-inline col-xs-6">
                            <select id="age" name="age" class="selectpicker" data-width="fit" name="year"
                                    style="width: auto">
                                <option value="1">1</option>
                                <option value="1.5">1.5</option>
                                <option value="2">2</option>
                                <option value="2.5">2.5</option>
                                <option value="3">3</option>
                                <option value="3.5">3.5</option>
                                <option value="4">4</option>
                                <option value="4.5">4.5</option>
                                <option value="5">5</option>
                                <option value="5.5">5.5</option>
                                <option value="6">6</option>
                                <option value="6.5">6.5</option>
                                <option value="7">7</option>
                                <option value="7.1">大于7（未入学）</option>
                                <option value="7.2">大于7（已入学）</option>
                            </select>
                            <label> 岁 </label>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="control-label col-xs-6" style="text-align: right;font-size: 18px;">孩子性别：</label>
                        <div class="form-inline col-xs-6" style="padding-top: 7px;">
                            <input id="sex" type="radio" name="sex" value="m" checked> 男
                            <input type="radio" name="sex" value="f"> 女
                        </div>
                    </div>
                    <br>
                    <div align="center">
                        <label class="col-xs-12" style="text-align:center;font-size: 18px;">在以下哪几种情形下接触过英语？<br>（多选）</label class="col-xs-12" style="text-align:center;font-size: 18px;">
                        <br><br><br>
                        <ul class="list-group"
                            style="width:80%;color: black; text-shadow: 0 1px 3px rgba(255, 255, 255, .5);">
                            <li class="list-group-item">
                                <input id="edu1" type="checkbox" name="edu1" value="1">
                                <label class="li_label" for="edu1">幼儿园英语课</label>
                            </li>
                            <li class="list-group-item">
                                <input id="edu2" type="checkbox" name="edu2" value="1">
                                <label class="li_label" for="edu2">课外英语辅导班</label>
                            </li>
                            <li class="list-group-item">
                                <input id="edu3" type="checkbox" name="edu3" value="1">
                                <label class="li_label" for="edu3">使用英语的其他课程或活动</label>
                            </li>
                            <li class="list-group-item">
                                <input id="edu4" type="checkbox" name="edu4" value="1">
                                <label class="li_label" for="edu4">英语国家的海外生活经历</label>
                            </li>
                            <li class="list-group-item">
                                <input id="edu5" type="checkbox" name="edu5" value="1">
                                <label class="li_label" for="edu5">英语国家的短期海外出游</label>
                            </li>
                            <li class="list-group-item">
                                <input id="edu6" type="checkbox" name="edu6" value="1">
                                <label class="li_label" for="edu6">与父母和家人的日常交流</label>
                            </li>
                            <li class="list-group-item">
                                <input id="edu7" type="checkbox" name="edu7" value="1">
                                <label class="li_label" for="edu7">英语媒体（书籍、电影等）</label>
                            </li>
                        </ul>
                    </div>

                    <div align="center">
                        <button type="button" onclick="begin();" class="btn btn-default btn-lg">继续</button>
                    </div>
                    <br>
                </form>
            </div>
            <br>

            <div style="color: rgba(255, 255, 255, .5);">
                <div style="text-align: center;padding-bottom: 5px;">
                    <p>Powered by <a href="http://cs.tsinghua.edu.cn">清华大学计算机系</a></p>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="static/vendor/jquery/jquery-1.11.3.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="static/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="static/vendor/iCheck/icheck.min.js"></script>
<script>
    var timer = null;
    var sec = 0, msec = 0;
    $(document).ready(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_flat-red',
            radioClass: 'iradio_flat-red',
            increaseArea: '20%' // optional
        });

        clearInterval(timer);
        timer = setInterval(function () {
            msec++;
            if(msec == 100) {
                sec += 1;
                msec = 0;
            }
        }, 1000 / 100);
    });

    begin = function () {

        var form = document.createElement('form');
        form.action = '/info_kid_submit';
        form.target = '_self';
        form.method = 'get';

        var opt = document.createElement('input');
        opt.name = 'sex';
        opt.value = $('#sex').is(':checked') ? 'm' : 'f';
        form.appendChild(opt);

        opt = document.createElement('input');
        opt.name = 'age';
        opt.value = $('#age').val();
        form.appendChild(opt);

        for (var i = 1; i < 8; ++i) {
            opt = document.createElement('input');
            opt.name = 'edu' + i;
            opt.value = $('#edu' + i).is(':checked') ? 1 : 0;
            form.appendChild(opt);
        }

        opt = document.createElement('input');
        opt.name = 'time';
        opt.value = sec + '.' + msec;
        form.appendChild(opt);

        document.body.appendChild(form);
        form.submit();

    }
</script>
</body>
</html>
